.App {
  text-align: center;
  background-color: #282c34;
}

.MainBody {
  background-color: #282c34;
  color: white;
  font-size: 5px;
  padding: 5px 3px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  overflow: hidden;
  padding: 1px ;
}

.navBar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 5px;
}

.drinkList{
  border: 1px solid black;
  width: 5%;
}
